.banner-container {
    background-image: url("../Banner\ Image.png");
    height: 600px;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin: 50px 100px;

}

.banner-text {
    text-align: center;
    color: #FFF;
    font-size: 40px;
    font-weight: 200;
    padding: 100px 300px 150px 300px;
    width: 630px;
    color: #FFF;
    line-height: 60px;
}

/* title section */

.data {
    color: #F00;
    font-size: 88px;
    font-weight: 100;
    font-weight: 700;
    margin-bottom: 30px;


}

.text {
    color: #F00;
}

.banner-title-section {
    text-align: center;



}

.bac {
    background-image: url("../New\ Year\ Photo.png");
    width: 802.9px;
    height: 500px;
    margin-left: 300px;
}

/* Welcome section styles */

.welcome-section {
    background-image: url("../Vectorrr.png");
    width: 1320px;
    height: 600px;
    margin-top: 120px;
    margin-left: 80px;

}

.new-year {
    padding-left: 1000px;
    padding-top: 140px;
    margin-right: 200px;
    width: 200px;
    height: 300px;
    transform: rotate(-45deg);
}

.welcome-text {
    justify-content: space-between;
    color: #FFF;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    width: 697px;
    height: 100px;
    padding-top: 125px;
    padding-left: 125px;

}

.btn {
    background-color: black;
    color: #FFF;
    padding: 10px;
    border-radius: 6px;



}