* {
    width: 1320px;
}

.banner-container {
    background-image: url("../Banner\ Image.png");
    height: 600px;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin: 50px 100px;

}

.banner-text {
    text-align: center;
    color: #FFF;
    font-size: 50px;
    font-weight: 200;
    padding: 150px 100px 50px 00px;
    width: 630px;
    color: #FFF;
    font-family: Merriweather;
    line-height: 30px;
}

/* title section */

.data {
    color: #F00;
    font-size: 88px;
    font-weight: 100;
    font-weight: 700;
    margin-bottom: 30px;


}

.text {
    color: #F00;
}

.banner-title-section {
    text-align: center;
    font-weight: 700;


}

.bac {
    background-image: url("../New\ Year\ Photo.png");
    width: 802.9px;
    height: 500px;
    margin-left: 300px;
}

/* Welcome section styles */

.welcome-section {
    background-image: url("../Vectorrr.png");
    background-position: center;
    width: 1320px;
    height: 600px;
    display: flex;
}

.welcome-text {
    color: #FFF;
    font-family: Merriweather;
    font-size: 25px;
    font-weight: 900;
    line-height: 40px;
    width: 640px;
    padding-top: 140px;
    padding-right: 300px;
    justify-content: space-between;

}


.welcome-img{
    width: 120px

}

button {
    width: 100px;
    height: 25px;
}